<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="src/assets/slide.js"></script>
<div class="bg">
    <div class="container mt-0" >
        <br>
        <!--Row with two equal columns-->
        <div class="row" style="margin-top:2%;">
            <div class="col-md-6">
                <div class="demo-content"><i class="material-icons" style="font-size:48px;color:white">assignment</i><a
                    routerLink="/docslot"
                    routerLinkActive="active">
                        <h5 id="colorstyle">Book an Appointment</h5>
                    </a>
                </div>

            </div>
            <div class="col-md-6">
                <div class="demo-content bg-alt"><i class="material-icons"
                        style="font-size:48px;color:white">insert_invitation</i><a href="#">
                        <h5 id="colorstyle">My Appointment</h5>
                    </a></div>
            </div>
        </div>
        <!--end-->
        <!--Row with two columns divided in 1:2 ratio-->
        <div class="row"style="margin-bottom:2%" >
            <div class="col-md-6">
                <div class="demo-content"><i class="material-icons" style="font-size:48px;color:white">folder_open</i><a
                        href="#">
                        <h5 id="colorstyle">My Reports</h5>
                    </a></div>
            </div>
            <div class="col-md-6">
                <div class="demo-content bg-alt"><i class="material-icons"
                        style="font-size:48px;color:white">account_box</i><a her="#">
                        <h5 id="colorstyle">My Profile</h5>
                    </a></div>
            </div>
        </div>
        <!--end-->
    </div>
    
</div>