
<div  class= "bg-light text-dark"style="font-size:20px">
       
    <!-- Content here -->
    <ul class="nav nav-pills">  
        	<li class="nav-item">
                    <a class="">People's Health</a>
                </li>
        <li class="nav-item dropdown " style="margin-left: 72%;">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                aria-expanded="false">My Profile</a>
            <div class="dropdown-menu" >
                <a class="dropdown-item" href="#" style="font-size:20px">Edit Profile</a>
                <a class="dropdown-item" href="#"style="font-size:20px">Logout</a>
            </div>
        </li>     
              
    </ul>
</div>




