
<link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.1.0/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<section id="intro" class="intro">

        <div class="intro-content">
<div id="container">
       
<p id="p1">Appointments</p>
<br>
<p id="p2">A Passion for making people better</p>
<p>At Columbia Asia, we are determined to provide our patients with excellence in healthcare services.
<br><b>Book an appointment with us</b> </p>
<div id="bar">
<br>
<!--location-->
<div class="dropdown" style="display:inline">
<button id="d1" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Search a
Location
<span class="caret"></span></button>
<ul class="dropdown-menu" style="width:100%">
<li><a href="#">Hebbal</a></li>
<li><a href="#">Whitefield</a></li>
<li><a href="#">Pune</a></li>
</ul>
</div>
&nbsp;
&nbsp;
<!--doctor-specialist-selection-->
<div class="dropdown" style="display:inline">
<button id="d2" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><h4>Search for
a doctor or speciality</h4>
<span class="caret"></span></button>
<ul class="dropdown-menu" style="width:100%">
<li><a href="#">Accident and Emergency</a></li>
<li><a href="#">Anaesthesia & Intensive Care</a></li>
<li><a href="#">Blood Bank</a></li>
<li><a href="#">Cardiology</a></li>
<li><a href="#">Cardiothoracic & Vascular Surgery</a></li>
<li><a href="#">Dental Department</a></li>
<li><a href="#">Dermatology</a></li>
<li><a href="#">ENT Department</a></li>
<li><a href="#">Ophthalmology</a></li>
<li><a href="#">Gynaecology & Obst.</a></li>
<li><a href="#">Neurology</a></li>
<li><a href="#">Orthopaedics</a></li>
<li><a href="#">Paediatrics</a></li>
<li><a href="#">Physiotherapy</a></li>
<li><a href="#">Psychiatry</a></li>
<li><a href="#">Radiology</a></li>
</ul>
</div>
&nbsp;
&nbsp;
<button type="submit" id="b1"><i class="fa fa-search" style="color:white;font-size: 22px;"></i></button>
<br>
</div>
</div>

</div>
</section>